= link_to "Create an Event", new_event_path, class: "btn btn-success"

- if @created_events.any?
  %h3 My Created Events
  %ul
    - @created_events.each do |event|
      %li= event.inspect

- if @events.any?
  %h3 Upcoming Events
  %ul
    - @events.each do |event|
      %li= event.inspect

