.pull-right
  = link_to "Create an Event", new_event_path, class: "btn btn-success"

- if @events.any?
  .page-header
    %h3 My Upcoming Events
  = render @events

  .page-header
    %h3 Past Events
  = render @past_events

