%h3 Sign in

%p Sign in or sign up with one of your accounts to get started

.btn-group
  = link_to auth_path(:github), class: "btn btn-default" do
    %span.fa.fa-github.fa-lg
    GitHub
  = link_to auth_path(:twitter), class: "btn btn-info" do
    %span.fa.fa-twitter.fa-lg
    Twitter
  = link_to auth_path(:facebook), class: "btn btn-primary" do
    %span.fa.fa-facebook.fa-lg
    Facebook
  = link_to auth_path(:gplus), class: "btn btn-danger" do
    %span.fa.fa-google-plus.fa-lg
    Google+
