.navbar.navbar-default#navigation{ style: "border-radius: 0", "data-turbolinks-permanent" => "true" }
  .container
    .navbar-header
      = link_to root_path, class: "navbar-brand" do
        %span.icon-thumbs-up
        Jackson
      %button.navbar-toggle{ data: { toggle: "collapse", target: "#user_nav" } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse#user_nav
      %ul.nav.navbar-nav.navbar-right
        = render "shared/current_user"

