.navbar.navbar-default{ style: "border-radius: 0" }
  .container
    .navbar-header
      = link_to "Jackson", root_path, class: "navbar-brand"

    .navbar-right
      %ul.nav.navbar-nav
        = render "shared/current_user"
