@import "jackson-embedded";
@import "bootstrap-sprockets";
@import "bootswatch/flatly/variables";
@import "variables";
@import "bootstrap";
@import "bootswatch/flatly/bootswatch";

html.turbolinks-progress-bar::before {
  background-color: $brand-success !important;
  height: 3px !important;
}

.navbar-header {
  font-family: $headings-font-family;
}


footer {
  padding-bottom: 1em;
}

.datepicker {
  padding: 1em;

  .day {
    font-size: 80%;

    &.old {
      color: $gray-light;
    }
  }
}

.datepicker-switch, .prev, .next {
  text-align: center;
}
